body{
    display: flex;
    justify-content: center;
    background-color: #ffe338;
}
.container{
    display: flex;
    width: 400px;
    height: 470px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: purple;
}
.display{
    
    margin: 10px 0px ;
    border: solid black 3px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
}
.display > * {
    width: 380px;
    height: 60px;
    text-align: right;
    line-height: 80px;
    font-size: 30px;
}
.buttons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 0px 10px;
}
.top-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top-buttons>button{
    padding: 10px 20px;
}
.bottom-buttons{
    display: flex;
}
.decimal-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 325px;
}
.decimal-buttons>button{
    padding: 20px 47px;
    margin: 1px;
}
/* #zero{
    padding: 20px 100.5px;
}
#dot{
    padding: 20px 48.5px;
} */
#dot{
    flex-grow: 1;
    max-width: 211px;
}
#equal{
    background-color: gold;
    border-radius: 5px;
    border-color: #000000;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding: 45px 10px;
    text-shadow: 0px 0px 2px black ;
}
#equal:hover{
    background-color: goldenrod;
}
.side-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    gap: 2px;
}
.side-buttons>button{
    padding: 51.5px 18px;
}
